@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1716963417318') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qunfengxiaoxitishilingdang:before {
  content: "\e6b0";
}

.icon-xingmingyonghumingnicheng:before {
  content: "\e623";
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-fatie2:before {
  content: "\e595";
}

